<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155180757937-psti7buc2o9ikbp66uriju5lqe3grurp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155180757937-psti7buc2o9ikbp66uriju5lqe3grurp</string>
	<key>API_KEY</key>
	<string>AIzaSyAEgbHwkmQUPtTdx8pEP_ebVpvHJ46u2vk</string>
	<key>GCM_SENDER_ID</key>
	<string>155180757937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ParkSpotter</string>
	<key>PROJECT_ID</key>
	<string>parkspotter-368c8</string>
	<key>STORAGE_BUCKET</key>
	<string>parkspotter-368c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155180757937:ios:bc4295688bd95c340e0390</string>
</dict>
</plist>